* {
    box-sizing: border-box;
}

.rotateObj {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    width: 150px;
    height: 150px;

    transition-duration: 3s;
    transition-timing-function: ease-out;
}

.user {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 270px;
    margin-top: 240px;
    width: 120px;
    height: 120px;
}

.circle-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*width: 50%;*/
    width: 200px;
}

.main-circle,
.circle {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    border: 2px solid #080a01;
}

.circle {
    background-color: #1bb6ba;
}

.main-circle {
    background-color: #59ffd1;
}

.main-circle-wrap {
    position: relative;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.base-btn {
    padding: 7px 150px 7px;
    margin-left: 580px;
    margin-top: 30px;
    background: #fd7c89;
    border-radius: 20%;
}


/*---------------------------------------------------------------*/

.ch {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
}

.trust,
.action {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    text-align: center;
    padding-top: 130px;
    color: white;
    font-size:50px;
  text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.trust {
    top: 0;
    background-color: #27ce3d;
    border-bottom: 1px solid #080a01;
    
}

.action {
    bottom: 0;
    background-color: #e52929;
      border-top: 1px solid #080a01;
   
}